.message-container {
    display: inline-grid;
      /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
      grid-template-columns: repeat(auto-fit(1fr));
      padding: 20px;
      justify-content: center;
      align-content: center;
      margin: auto;
      /* margin: 10px; */
      vertical-align: center;
}
.messages{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    height: auto;
    width: 250px;
    font-size: 15px;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 7px;
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 10px;
    padding-left: 10px;
}
#inbox-title {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid black;
}
.message-outbox-container {
    display: inline-grid;
    /* grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); */
    grid-template-columns: repeat(auto-fit(1fr));
    padding: 20px;
    align-content: center;
    /* margin: auto; */
    margin: 10px;
    vertical-align: center;
    }
.messages-out{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: auto;
    width: 250px;
    font-size: 15px;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 7px;
    background-color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 10px;
    padding-left: 10px;
}
.message-list{
    display: flex;
    flex-direction: column;

}
.messages-to-from {
    margin: auto;
}