.message-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 10px;
}
.messages {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    padding: 30px;
    margin: 20px; 
}
.messages-to-from {
    text-align: center;
}
#inbox-title {
    border-bottom: 2px solid aqua;
    font-size: 20px;
}